html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../img/galaxy.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  background-color: blanchedalmond;
}
p {
  margin-bottom: 0;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
}
section {
  flex-basis: 57%;
  margin-right: 10%;
}
aside {
  flex-basis: 33%;
  overflow: auto;
}
fieldset {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}
legend {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 1rem 0;
}
label {
  display: block;
  font-family: "Roboto", sans-serif;
}
input:not([type="radio"]):not([type="checkbox"]) {
  margin: 0.5rem 0;
  font-family: "Roboto", sans-serif;
  width: 20rem;
  display: block;
}
textarea {
  height: 10rem;
  width: 20rem;
  padding: 1rem;
}
select {
  font-size: 1rem;
}
button {
  padding: 0.5rem 1rem;
  background: rgb(192, 56, 56);
  color: white;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 1rem;
  margin-top: -0.5rem;
  border-radius: 5px;
}
button:hover {
  background: rgb(199, 98, 16);
}
select {
  width: 20rem;
}
.radiospace {
  margin: 1rem 0;
}
.radiospace1 {
  margin: 0 0 1rem 0;
}
.space {
  margin: 1rem 0 0.5rem 0;
}
.space2 {
  margin: 0.5rem 0 1rem 0;
}
address {
  margin-bottom: 1rem;
}
